
<!-- <div class = "col-lg-9 category" ng-controller = "categoryController as itemCategory">
	<data-owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: false, rewindNav : false, items: 4}">
	    <div owl-carousel-item="" ng-repeat="cuisine in itemCategory.cuisines" class="item text-center">
	        <p>{{cuisine.name}}</p>
      	</div>
  </data-owl-carousel>
</div> -->
<div class = "col-lg-12 no-padding category" ng-controller = "categoryController as itemCategory">
    <data-owl-carousel class="owl-carousel categoriesList" data-options="{navigation: true, pagination: false, rewindNav : false, items: 4}">
        <div owl-carousel-item="" ng-repeat="cuisine in itemCategory.cuisines" class="item text-center">
          <label>{{cuisine.name}}</label>
        </div>
    </data-owl-carousel>
    <data-owl-carousel class="owl-carousel ingredientsList" data-options="{navigation: true, pagination: false, rewindNav : false}">
        <div owl-carousel-item="" ng-repeat="ingredient in itemCategory.ingredients" class="item text-center">
          <div><img ng-src="{{ingredient.imgPath}}" alt="{{ingredient.displayName}} image"/></div>
          <p>{{ingredient.displayName}}</p>
        </div>
    </data-owl-carousel>
</div>
