<div class="recipe-details clearfix">
  <div class="col-lg-12">
    <span class="lbl-display pull-left">New recipe</span>
    <span class="lbl-display pull-right">Ingredients: <b>{{recipe.recipeDetails.ingredients.length}}</b></span>
  </div>
  <div>
    <div ng-click="recipe.setIngredient(ingredient)" ng-repeat="ingredient in recipe.recipeDetails.ingredients" class="text-center foodProduct col-lg-6 no-padding">
      <div class="recipe-ingredient clearfix" ng-click="console.log(123)">
        <img class="col-xs-4" ng-src={{ingredient.imgPath}}>
        <div class="col-xs-8 no-padding">
          <label class="col-lg-12 text-left no-padding">{{ingredient['Display Name']}}</label>
          <span class="lbl-display pull-left">Portion: {{ingredient.portion + ingredient.portionFraction}} {{ingredient.measuringUnit}} | 99 kCal</span>
        </div>
      </div>
    </div>
  </div>
</div>
